<div class="animated fadeIn">
    <div class="row">


        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="col-xl-12 card card-inverse card-primary">
                <div class="card-block row">
                    <div class="fa fa-map  fa-4x pull-left col-md-3"></div>
                    <div class="card-blockquote pull-right">
                        <h4 class="pull-right">0</h4>
                        <div class="text-xs-right">
                            <h5>Aventuras</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-x-1 p-y-h row">
                    <a class="font-weight-bold font-xs btn-block text-muted" routerLink="/aventura">Prosseguir <i class="fa fa-angle-right pull-right font-lg"></i></a>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="col-xl-12 card card-inverse card-primary">
                <div class="card-block row">
                    <div class="fa fa-street-view  fa-4x pull-left col-md-3"></div>
                    <div class="card-blockquote pull-right">
                        <h4 class="pull-right">0</h4>
                        <div class="text-xs-right">
                            <h5>Personagens</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-x-1 p-y-h row">
                    <a class="font-weight-bold font-xs btn-block text-muted" routerLink="/personagem">Prosseguir <i class="fa fa-angle-right pull-right font-lg"></i></a>
                </div>
            </div>
        </div>


        <div class="col-sm-6 col-md-4 col-xl-3">
            <div class="col-xl-12 card card-inverse card-primary">

                <div class="card-block row">
                    <div class="fa fa-book  fa-4x pull-left col-md-3"></div>
                    <div class="card-blockquote pull-right">
                        <h4 class="pull-right">0</h4>
                        <div class="text-xs-right">
                            <h5>Livros</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-x-1 p-y-h row">
                    <a class="font-weight-bold font-xs btn-block text-muted" routerLink="/livro">Prosseguir <i class="fa fa-angle-right pull-right font-lg"></i></a>
                </div>
            </div>
        </div>


    </div>
</div>