<!-- /.row -->
<div class="row">
    <div class="col-xs-2 col-lg-2" *ngFor="let atributo of atributos" (click)="onSelect(atributo)">
        <div class="col-sm-6 col-md-4 col-xl-3">
            <a class="col-xl-12 card card-inverse card-primary" routerLink="/aventura">
                <div class="card-block row">
                    <div class="fa fa-4x pull-left col-md-3">{{atributo.sigla}}</div>
                    <div class="card-blockquote pull-right">
                        <h4 class="pull-right">0</h4>
                        <div class="text-xs-right">
                            <h5>{{atributo.nome}}</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-x-1 p-y-h row" (click)="vaEditar(atributo)">
                    <div class=" font-weight-bold font-xs btn-block text-muted ">Editar <i class="fa fa-angle-right pull-right
                    font-lg "></i></div>
                </div>
            </a>
        </div>
    </div>

</div>
<atributo-detail [atributo]="atributoSelecionado "></atributo-detail>