<div class="animated fadeIn">
    <div class="row">


        <div class="col-sm-6 col-md-4 col-xl-3">
            <a class="col-xl-12 card card-inverse card-primary" routerLink="/livro/detalhes">
                <div class="card-block row">
                    <div class="fa fa-arrows-alt fa-4x pull-left col-md-3"></div>
                    <div class="card-blockquote pull-right">
                        <h4 class="pull-right">0</h4>
                        <div class="text-xs-right">
                            <h5>Criar</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-x-1 p-y-h row">
                    <div class="font-weight-bold font-xs btn-block text-muted">Prosseguir <i class="fa fa-angle-right pull-right font-lg"></i></div>
                </div>
            </a>
        </div>


        


    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="card">

                <div class="card-block">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Livro</th>
                                <th>Versão</th>
                                <th>Criaturas</th>
                                <th>Itens</th>
                                <th>Regras</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" *ngFor="let livro of livros">
                                <td>{{livro.nome}}</td>
                                <td>{{livro.versao}}</td>
                                <td>{{livro.qtd_criaturas}}</td>
                                <td class="center">{{livro.qtd_itens}}</td>
                                <td class="center">{{livro.qtd_regras}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

</div>