<div class="animated fadeIn">
    <div class="row">


        <div class="col-sm-6 col-md-4 col-xl-3">
            <a class="col-xl-12 card card-inverse card-primary" routerLink="/livro/detalhes/atributos">
                <div class="card-block row">
                    <div class="fa fa-map  fa-4x pull-left col-md-3"></div>
                    <div class="card-blockquote pull-right">
                        <h4 class="pull-right">0</h4>
                        <div class="text-xs-right">
                            <h5>Atributo</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-x-1 p-y-h row">
                    <div class="font-weight-bold font-xs btn-block text-muted">Prosseguir <i class="fa fa-angle-right pull-right font-lg"></i></div>
                </div>
            </a>
        </div>


        <div class="col-sm-6 col-md-4 col-xl-3">
            <a class="col-xl-12 card card-inverse card-primary" routerLink="/personagem">
                <div class="card-block row">
                    <div class="fa fa-street-view  fa-4x pull-left col-md-3"></div>
                    <div class="card-blockquote pull-right">
                        <h4 class="pull-right">0</h4>
                        <div class="text-xs-right">
                            <h5>Personagens</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-x-1 p-y-h row">
                    <div class="font-weight-bold font-xs btn-block text-muted">Prosseguir <i class="fa fa-angle-right pull-right font-lg"></i></div>
                </div>
            </a>
        </div>


        <div class="col-sm-6 col-md-4 col-xl-3">
            <a class="col-xl-12 card card-inverse card-primary" routerLink="/livro">
                <div class="card-block row">
                    <div class="fa fa-book  fa-4x pull-left col-md-3"></div>
                    <div class="card-blockquote pull-right">
                        <h4 class="pull-right">0</h4>
                        <div class="text-xs-right">
                            <h5>Livros</h5>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-x-1 p-y-h row">
                    <div class="font-weight-bold font-xs btn-block text-muted">Prosseguir <i class="fa fa-angle-right pull-right font-lg"></i></div>
                </div>
            </a>
        </div>


    </div>
</div>